{% extends 'base.html' %}


{% block content %}
<div class="jumbotron text-center">
<h4>Login</h4>
</div>
<div class="container">
<div class="col-sm-4">
<form  method="post">
    <div class="form-group">
	{% csrf_token %}
	{{ form.as_p }}
    <div class="text-right">
        <input class="btn btn-primary" type="submit" value="Login" />
    </div>
</form>
</div>
</div>
{% endblock %}







